/// constructive sidemenu logic (large screens)

.css3sidebar.css3sidebar-lg {
	@media (min-width: $sidebarbreakpoint) {
		visibility: visible;
		z-index: auto;
		pointer-events: all;
		position: relative;
		width: auto;
		height: auto;

		.menu-wrapper {
			position: relative;
			left: 0;
			width: auto;
			height: auto;

		}
		&.activeCss3Sidebar {
			background: transparent;
		}
		&.sidebar-left {
			.menu-wrapper {
				left: 0;
				width: auto;
			}
		}
		&.sidebar-right {
			.menu-wrapper {
				right: 0;
				width: auto;
			}
		}
		&.sidebar-top {
			.menu-wrapper {
				top: 0;
			}
		}
		&.sidebar-popin {
			.menu-wrapper {
				display: block;
			}
		}
	}
}